
<div class="col-xs-12 col-sm-3 col-md-3" style="padding-top: 1.5%;">
  <div class="row" style="margin-bottom:2%;">
    <h2 class="text-center">Record Pool</h2>
  </div>
  
  <div class="row rec-img">
    <img src="images/Record3.png" alt="Record Image">
  </div>

  <div>
    <div class="username-form" id="username-form-main">
      <label for="user-id-input">Discogs Username</label>
      <input type="user-id" id="username" class="form-control">
    </div>
    <input type="image" id="username-submit" class="username-submit-main" src="images/cassette-btn3.png" alt="Submit">
  </div>
  
  <div class = "userdropdown">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" style="margin-top:10%;">
          Users<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          {{#each usernames}}
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{.}}</a></li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>

</div>  
  
<div class="col-xs-12 col-sm-9 col-md-9" id="vid-column" style="padding-top: 2%;">
  <h4 class="text-center">Viewing {{user}}'s {{list}}</h4>

  <div class="row vid-nav">  
    <div id="nav-select">
      <div class="pill-wrap">
        <ul class="nav nav-pills center-pills" id="want-collection">
          <li><a href="#/{{user}}/wantlist/{{first}}" id="wantlist">wantlist</a></li>
          <li><a href="#/{{user}}/collection/{{first}}" id="collection">collection</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row vid-nav">
    <div class="pag-wrapper">
      <ul class="pagination">
        <li><a href="#/{{user}}/{{list}}/{{prev}}">&laquo;</a></li>
        {{#each pages}}
        <li><a href="#/{{user}}/{{list}}/{{page}}" id="page {{page}}">{{page}}</a></li>
        {{/each}}
        <li><a href="#/{{user}}/{{list}}/{{next}}">&raquo;</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    {{#each releases}}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <section class="lazy-wrapper">
        <div class="js-lazyYT" data-youtube-id={{youtube}} data-width="210" data-height="157"></div>
        <div class="link" id="vid-link"><a href="http://www.discogs.com/release/{{discogs}}">{{title}} by {{artist}}</a></div>
      </section>
    </div>
    {{/each}}
  </div>
  
  <div class="row vid-nav">
    <div class="pag-wrapper">
      <ul class="pagination">
        <li><a href="#/{{user}}/{{list}}/{{prev}}">&laquo;</a></li>
        {{#each pages}}
        <li><a href="#/{{user}}/{{list}}/{{page}}" id="page {{page}}">{{page}}</a></li>
        {{/each}}
        <li><a href="#/{{user}}/{{list}}/{{next}}">&raquo;</a></li>
      </ul>
    </div>
  </div>

</div>
